<!DOCTYPE html>
<html>
<head>
    <title>蜘蛛工具大全</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <style>
        body {
            background-color: #15151D;
            user-select: none;
        }
        .main {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: #fff;
        }
    </style>
</head>

<body>
<div class="main">
    <img src="/images/detail_default.png" alt="">
    <h1>蜘蛛工具就是牛</h1>
</div>
</body>
</html>