<!DOCTYPE html>
<html>
<head>
    <title>蜘蛛工具大全</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/detail.css">
</head>

<body>
<div class="main">
    <img src="/images/detail_default.png" alt="">
    <h1>蜘蛛工具就是牛</h1>
</div>
</body>
</html>