<!DOCTYPE html>
<html>
<head>
</head>

<frameset cols="240px,*" border="0">
    <frame src="menu" name="menu"/>
    <frame src="detail" name="detail" style="background-color: #15151D"/>
</frameset>

<body>
</body>
</html>