<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/menu.css">
</head>

<body>
<div class="menu">

    <h3 align="middle">
        <image src="/images/menu_show.png" ></image>
        <br>
        <span>蜘蛛工具大全</span>
    </h3>

    <ul id="menu_list">
        <li>
            <div class="sub_menu sub_first active">
                <image src="/icons/home.svg" alt=""></image>
                <a href="detail" target="detail">基础工具</a>
                <image src="/icons/point_right.svg" alt="" class="imag_2"></image>
            </div>
            <ul>
                <li class="sub_menu sub_func">
                    <image src="/icons/home.svg" alt=""></image>
                    <a href="timestamp_covert" target="detail">时间戳转换</a>
                </li>
            </ul>
        </li>

        <li>
            <div class="sub_menu sub_first">
                <image src="/icons/home.svg" alt=""></image>
                <a href="detail" target="detail">JSON工具</a>
                <image src="/icons/point_right.svg" alt="" class="imag_2"></image>
            </div>
            <ul>
                <li class="sub_menu sub_func">
                    <image src="/icons/home.svg" alt=""></image>
                    <a href="detail" target="detail">字符串转JSON</a>
                </li>
                <li class="sub_menu sub_func">
                    <image src="/icons/home.svg" alt=""></image>
                    <a href="detail" target="detail">JSON格式化</a>
                </li>
            </ul>
        </li>

        <li>
            <div class="sub_menu sub_first">
                <image src="/icons/home.svg" alt=""></image>
                <a href="detail" target="detail">报税工具</a>
                <image src="/icons/point_right.svg" alt="" class="imag_2"></image>
            </div>
            <ul>
                <li class="sub_menu sub_func">
                    <image src="/icons/home.svg" alt=""></image>
                    <a href="tax_message_trans" target="detail">税款语句转换</a>
                </li>
            </ul>
        </li>

        <li>
            <div class="sub_menu sub_first">
                <image src="/icons/home.svg" alt=""></image>
                <a href="send_me_message" target="detail">联系作者</a>
            </div>
        </li>
    </ul>
    <div class="back_home" id ="random_back_home">Back Home</div>
    <div class="beian">
        <a id="beian" target="_blank" href="http://beian.miit.gov.cn/"
           style="display:inline-block;text-decoration:none;height:20px;line-height:20px;" rel="noopener">
        </a>
    </div>
</div>

<script async src="/javascript/menu.js" type="module"></script>
</body>
</html>