* {
    margin: 0;
    padding: 0
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
    text-decoration: none;
}

input, button {
    border: 0px;
    background-color: none;
    outline: none;
}