body {
    background-color: #15151D;
    user-select: none;
}
.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}