.prompt {
    visibility: hidden;
    position: absolute;
    color: white;
    background-color: #dac645;
    z-index: 3;
    left: 40%;
    top: 30%;
    border-radius: 24px;

    width: 200px;
    height: 160px;
    display: flex;
}
.prompt > div {
    margin-left: 20px;
    user-select: none;
}
.pro_suc {
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}
.pro_end {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}
.bg_imag {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #15151D;
    z-index: 1;
}
.bg_imag > img {
    padding: 8% 40%;
    position: relative;
}
.container {
    width: 100vw;
    height: 100vh;
    /*background-color: #15151D;*/
    position: relative;
    z-index: 2;
}
.main {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.message {
    display: block;
    width: 560px;
    height: 310px;
    overflow: hidden;
    border-radius: 12px;
    contenteditable: true;
}
.div1 {
    color: #fff;
    font-size: 32px;
    background: linear-gradient(to right, rgb(255,205,1), rgb(2,252,98));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}
.message > form > textarea {
    padding: 0;
    min-height: 140px;
    max-width: 520px;
    min-width: 520px;
    border-top: 20px;
    max-height: 240px;
    flex: 1;
    color: #fff;
    background-color: #067BFB;
    font-size: 24px;
    white-space: pre-wrap;
    border-radius: 12px;
}
.div2 {
    padding-top: 6px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 520px;
    position: fixed;
}
.tips {
    visibility: hidden;
    position: absolute;
    padding-top: 4px;
    text-align: center;
    left: 60px;
    padding-left: 20px;
    height: 40px;
    font-size: 24px;
    color: #fff;
    user-select: none;
}
.image_button {
    position: absolute;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;

    background-image: url("/icons/send.svg");
    background-size: cover;
    background-position: center;
}

@keyframes move {
    0% {left: 0;}
    100% {left: 480px;}
}