<!DOCTYPE html>
<html lang="en">
<head>
    <title>蜘蛛工具大全</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <meta charset="UTF-8">
    <style>
        .prompt {
            visibility: hidden;
            position: absolute;
            color: white;
            background-color: #dac645;
            z-index: 3;
            left: 40%;
            top: 30%;
            border-radius: 24px;

            width: 200px;
            height: 160px;
            display: flex;
        }
        .prompt > div {
            margin-left: 20px;
        }
        .pro_suc {
            margin-top: 20px;
            font-size: 40px;
            text-align: center;
        }
        .pro_end {
            margin-top: 10px;
            font-size: 16px;
            text-align: center;
        }
        .bg_imag {
            width: 100vw;
            height: 100vh;
            position: absolute;
            background-color: #15151D;
            z-index: 1;
        }
        .bg_imag > img {
            padding: 8% 36%;
            position: relative;
        }
        .container {
            width: 100vw;
            height: 100vh;
            /*background-color: #15151D;*/
            position: relative;
            z-index: 2;
        }
        .main {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .message {
            display: block;
            width: 560px;
            height: 310px;
            overflow: hidden;
            border-radius: 12px;
            contenteditable: true;
        }
        .div1 {
            color: #fff;
            font-size: 32px;
            background: linear-gradient(to right, rgb(255,205,1), rgb(2,252,98));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .message > form > textarea {
            padding: 0;
            min-height: 140px;
            max-width: 520px;
            min-width: 520px;
            border-top: 20px;
            max-height: 240px;
            flex: 1;
            color: #fff;
            background-color: #067BFB;
            font-size: 24px;
            white-space: pre-wrap;
            border-radius: 12px;
        }
        .div2 {
            padding-top: 6px;
            justify-content: center;
            align-items: center;
            height: 40px;
            width: 520px;
            position: fixed;
        }
        .tips {
            visibility: hidden;
            position: absolute;
            padding-top: 4px;
            text-align: center;
            left: 60px;
            padding-left: 20px;
            height: 40px;
            font-size: 24px;
            color: #fff;
            user-select: none;
        }
        .image_button {
            position: absolute;
            height: 40px;
            width: 40px;
            display: inline-block;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            outline: none;

            background-image: url("/icons/send.svg");
            background-size: cover;
            background-position: center;
        }

        @keyframes move {
            0% {left: 0;}
            100% {left: 480px;}
        }
    </style>
</head>
<body>
<div class="bg_imag">
    <img src="/images/detail_default.png" alt="">
</div>
<div class="prompt" id="prompt">
    <div>
        <h1 class="pro_suc">发送成功</h1>
        <h1 class="pro_end">点击关闭</h1>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="message">
            <div class="div1">给作者发个消息吧~</div>
            <form action="send_me_message/send_message" id="form" method="get">
                <textarea name="web_message" id="msg_text"></textarea>
                <div class="div2">
                    <div class="image_button" id="btn"></div>
                    <span class="tips" id="span">长按发送信息</span>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    let obj_btn = document.getElementById("btn");
    let obj_span = document.getElementById("span");
    let obj_prompt = document.getElementById('prompt')
    let cd_send_message = 60 * 1000;
    let last_send_time = 0;

    obj_btn.onmouseover = function () {
        obj_span.style.visibility = 'visible';
    }

    obj_btn.onmouseout = function () {
        obj_span.style.visibility = 'hidden';
    }

    let timeSendMessage = null;

    obj_btn.onmousedown = function () {

        // 发送成功页面点开时不能发送消息
        if (obj_prompt.style.visibility === 'visible') {
            return ;
        }

        // 发送CD
        let now_time = (new Date()).getTime()
        if (now_time - last_send_time <= cd_send_message) {
            alert("频繁发送消息, 请稍后再发")
            return ;
        }

        // 空消息
        let obj_txt = document.getElementById('msg_text')
        if (!obj_txt.value || !obj_txt.value.length) {
            alert("不能发送空信息")
        }

        // 初始化动画
        obj_btn.style.animation = 'move 3s 1';

        console.log("send_message Timeout Start")

        // 定时发送
        timeSendMessage = setTimeout( function () {
            submit_message()
        }, 2 * 1000 );

        last_send_time = now_time;
        return false;
    }

    obj_btn.onmouseup = function () {
        console.log("send_message Timeout End")
        clearTimeout(timeSendMessage)
        return false;
    }

    obj_btn.onmousemove = function () {
        console.log("send_message Timeout End")
        clearTimeout(timeSendMessage)
       timeSendMessage = null;
    }

    let timeClosePrompt = null;
    function submit_message() {
        let obj_form = document.getElementById('form')
        obj_form.submit();

        // 重置textarea
        let obj_txt = document.getElementById('msg_text')
        obj_txt.value = ''

        // 重置按钮动画
        obj_btn.style.animation = 'none';

        // 显示成功提示
        obj_prompt.style.visibility = 'visible'

        // 定时关闭成功提示弹窗
        timeClosePrompt = setTimeout(function () {
            close_prompt()
        }, 5000)
        clearTimeout(timeSendMessage)
        console.log("submit_message Success")
    }
    
    function close_prompt() {
        obj_prompt.style.visibility = 'hidden'
    }

    obj_prompt.onclick = function () {
        obj_prompt.style.visibility = 'hidden'
    }

</script>
</body>
</html>