<!DOCTYPE html>
<html lang="en">
<head>
    <title>蜘蛛工具大全</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
    <link rel="stylesheet" href="/stylesheets/send_me_message.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="bg_imag">
    <img src="/images/detail_default.png" alt="">
</div>
<div class="prompt" id="prompt">
    <div>
        <h1 class="pro_suc">发送成功</h1>
        <h1 class="pro_end">点击关闭</h1>
    </div>
</div>
<div class="container">
    <div class="main">
        <div class="message">
            <div class="div1">给作者发个消息吧~</div>
            <form action="send_me_message/send_message" id="form" method="get">
                <textarea name="web_message" id="msg_text"></textarea>
                <div class="div2">
                    <div class="image_button" id="btn"></div>
                    <span class="tips" id="span">长按发送信息</span>
                </div>
            </form>
        </div>
    </div>
</div>

<script async src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.5/dist/sweetalert2.min.js"></script>
<script async src="/javascript/send_me_message.js"></script>
</body>
</html>