<!DOCTYPE html>
<html>
<head>
    <title>蜘蛛工具大全</title>
    <link rel="stylesheet" href="/stylesheets/common.css">
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.5/dist/sweetalert2.min.css">-->
    <link href="https://cdn.bootcdn.net/ajax/libs/sweetalert2/11.7.3/sweetalert2.min.css" rel="stylesheet">
    <style>
        .container {
            width: 100vw;
            height: 100vh;
            background-color: #15151D;
            position: relative;
        }
        .main {
            margin: 0;
            position: absolute;
            top: 15%;
            left: 20%;
            transform: translate(-50%, -50%);
        }
        .copy_time {
            width: 400px;
            height: 180px;
            position: absolute;
            color: white;
            text-align: center;
            line-height: 50px;
            user-select: none;
        }
        .show_tips {
            width: 150px;
            height: 50px;
            font-size: 24px;
        }
        .show_and_unit {
            display: flex;
        }
        .show {
            min-width: 200px;
            max-width: 240px;
            color: white;
            background-color: #067BFB;
            border-radius: 24px;
            font-size: 28px;
            user-select: text;
        }
        .show_unit {
            height: 25px;
            font-size: 20px;
            margin-top: 10px;
            margin-left: 10px;
        }
        .copy_btns {
            margin-top: 10px;
            width: 240px;
            height: 50px;
            display: flex;
        }
        .switch_time {
            width: 110px;
            height: 50px;
            font-size: 22px;
            border-radius: 12px;
            background-color: #067BFB;
        }
        .copy {
            width: 110px;
            height: 50px;
            margin-left: 10px;
            font-size: 22px;
            border-radius: 12px;
            background-color: #067BFB;
        }
    </style>

    <style>
        .time_trans {
            margin-top: 220px;
            width: 900px;
            height: 180px;
            position: absolute;
            text-align: center;
        }
        .trans_tips {
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 24px;
            color: white;
            background-color: #15151D;
            user-select: none;
        }
        .num_2_str {
            height: 50px;
            width: 850px;
            display: flex;
            padding-bottom: 20px;
            line-height: 50px;
            color: white;
        }
        .input_div {
            width: 200px;
            border: solid #047BFB;
            background-color: #37383D;
            border-radius: 12px;
            color: white;
        }
        .input_div_1 {
            width: 280px;
            border: solid #047BFB;
            background-color: #37383D;
            border-radius: 12px;
        }
        .time_show {
            width: 180px;
            height: 42px;
            font-size: 22px;
            margin-top: -5px;
            background-color: #37383D;
            color: white;
        }
        .time_show_1 {
            width: 220px;
        }
        .change_format {
            width: 110px;
            margin-left: 20px;
            background-color: #047BFB;
            font-size: 22px;
            border-radius: 24px;
            user-select: none;
        }
        .trans {
            width: 110px;
            margin-left: 20px;
            background-color: #047BFB;
            font-size: 22px;
            border-radius: 24px;
            user-select: none;
        }
        .time_answer_1 {
            width: 250px;
            margin-left: 20px;
            font-size: 22px;
            border: solid #047BFB;
            background-color: #37383D;
            border-radius: 12px;
            margin-top: -5px;
        }
        .time_answer_2 {
            width: 200px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="main">
        <div class="copy_time">
            <div class="show_tips">当前时间戳</div>
            <div class="show_and_unit">
                <div class="show" id="show_copy_time"></div >
                <div class="show_unit" id="show_unit">秒</div>
            </div>
            <div class="copy_btns">
                <div class="switch_time" id="switch_time">切换单位</div>
                <div class="copy" id="copy_time_btn" aria-readonly="true">点击复制</div>
            </div>
        </div>

        <div class="time_trans">
            <div class="trans_tips">时间戳转换为日期</div>
            <div class="num_2_str">
                <div class="input_div">
                    <input class="time_show" id="time_show_1"></input>
                </div>
                <div class="change_format" id="change_format_1">切换单位</div>
                <div class="trans" id="trans_1">转换</div>
                <div class="time_answer_1" id="time_answer_1"></div>
            </div>
            <div class="trans_tips">日期转换为时间戳</div>
            <div class="num_2_str">
                <div class="input_div_1">
                    <input class="time_show time_show_1" id="time_show_2"></input>
                </div>
                <div class="trans" id="trans_2">转换</div>
                <div class="time_answer_1 time_answer_2" id="time_answer_2"></div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.5/dist/sweetalert2.min.js"></script>

<script>
    let copy_time_display = 's'
    let copy_time_timeout = null
    let obj_show_copy_time = document.getElementById('show_copy_time')
    let obj_show_unit = document.getElementById('show_unit')

    copy_time_timeout = setInterval(change_copy_time_show, 100)

    function change_copy_time_show () {
        let now_time = (new Date()).getTime();
        if (copy_time_display == 's') {
            now_time = parseInt(now_time / 1000)
        }
        obj_show_copy_time.textContent = now_time.toString()
    }

    function copy_time_switch_time () {
        if (copy_time_display == 's') {
            copy_time_display = 'ms'
            obj_show_copy_time.style.width = '240px'
            obj_show_unit.textContent = '毫秒'
        } else {
            copy_time_display = 's'
            obj_show_copy_time.style.width = '200px'
            obj_show_unit.textContent = '秒'
        }
    }

    // 切换单位
    let obj_switch_time = document.getElementById('switch_time')
    obj_switch_time.onclick = function () {
        copy_time_switch_time();
        change_copy_time_show();
    }

    // 点击复制
    let obj_copy_time_btn = document.getElementById('copy_time_btn')
    obj_copy_time_btn.onclick = function () {
        navigator.clipboard.writeText(obj_show_copy_time.textContent)
        send_toast("复制成功")
    }
    function send_toast(message) {
        Swal.fire({
            title: message,
            icon: 'success',
            timer: 1000,
            toast: true,
            showConfirmButton: false,
            position: 'top-end',
        })
    }
</script>

<script>
    let obj_time_show_1 = document.getElementById("time_show_1")
    let obj_time_show_2 = document.getElementById("time_show_2")
    let time_unit_1 = 's'
    let time_show_interval = null

    function get_time_show_1 () {
        let now_time = (new Date()).getTime();
        if (time_unit_1 == 's') {
            now_time = parseInt(now_time / 1000)
        }
        return now_time.toString()
    }

    function get_time_show (now_time) {
        let yyyy = now_time.getFullYear()
        let mon = now_time.getMonth() + 1
        let dd = now_time.getDate()
        if (dd < 10) {
            dd = '0' + dd
        }
        let hh = now_time.getHours()
        let mm = now_time.getMinutes()
        let ss = now_time.getSeconds()
        if (ss < 10) {
            ss = '0' + ss
        }
        return `${yyyy}-${mon}-${dd} ${hh}:${mm}:${ss}`;
    }

    obj_time_show_1.value = get_time_show_1()
    obj_time_show_2.value = get_time_show(new Date())

    // 切换单位
    let obj_change_format_1 = document.getElementById('change_format_1')
    obj_change_format_1.onclick = function () {
        if (time_unit_1 == 's') {
            time_unit_1 = 'ms'
            obj_time_show_1.value = obj_time_show_1.value + '000'
        } else {
            time_unit_1 = 's'
            obj_time_show_1.value = (parseInt(obj_time_show_1.value) / 1000).toString()
        }
    }

    // 时间戳转日期
    let obj_trans_1 = document.getElementById('trans_1')
    obj_trans_1.onclick = function () {
        let time_stamp = parseInt(obj_time_show_1.value)
        if (time_unit_1 == 's') {
            time_stamp *= 1000
        }
        let obj_time_answer_1 = document.getElementById('time_answer_1')
        obj_time_answer_1.textContent = get_time_show(new Date(time_stamp))
    }

    // 日期转时间
    let obj_trans_2 = document.getElementById('trans_2')
    obj_trans_2.onclick = function () {
        let time_str = obj_time_show_2.value
        let obj_time_answer_2 = document.getElementById('time_answer_2')
        obj_time_answer_2.textContent = (new Date(time_str + " UTC").getTime() / 1000).toString()
    }

</script>

</body>

</html>